<main>
    <app-navegacion class="menu"></app-navegacion>
    <div>
        <img class="bannerNosotros" src="/BannerNosotros.jpg" alt="">
    </div>
    <div class="bloque1">
        <p>Somos Choose, agencia de comunicación estratégica, creativa, digital y tecnológica del Perú con alcance internacional y operaciones en más
            de 15 países de América Latina, EEUU, Europa, Asia y África.</p>
    </div>
    <div class="bloque2">
        <img class="img1" src="/n1.jpg" alt="">
    </div>
    <div class="bloque3">

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>

    <app-panel-footer class="footer"></app-panel-footer>

</main>