<main>
    <div class="banner">
        <app-navegacion class="menu"></app-navegacion>
        <video loop muted autoplay class="bannerNosotros" src="/blog.mp4"></video>

    </div>
    <div class="bloque1">
        <p>Somos Choose, agencia de comunicación estratégica, creativa, digital y tecnológica del Perú con alcance
            internacional y operaciones en más
            de 15 países de América Latina, EEUU, Europa, Asia y África.</p>
    </div>
    <div class="bloque2">
        <img class="img1" src="/n1.jpg" alt="">
        <div class="bloque2In">
            <h1>Nuestro Equipo</h1>
            <p>Está conformado por profesionales innovadores <br /> y creativos que mediante metodologías ágiles y las
                <br /> más modernas
                herramientas digitales <br /> de inteligencia, investigación, análisis y gestión <br /> transforman los
                desafíos
                empresariales en casos de éxito.
            </p>
            <img class="img2" src="/charles.png" alt="">
        </div>
    </div>
    <div class="bloque3">
        <div class="bloque3Fondo"><img src="/fondoCamino.jpg" alt=""></div>
        <div class="bloque3In">
            <img class="img3" src="/visionv3.png" alt="">
            <h4>Visión</h4>
            <p>Ser líderes mundiales en estrategias digitales innovadoras y operaciones exitosas <br> impulsen el éxito
                de nuestros socios inspirando y transformando <br> el panorama digital.</p>
        </div>
        <div class="bloque3En">
            <img class="img3" src="/mision_v2.png" alt="">
            <h4>Misión</h4>
            <p>Transformar desafíos empresariales en operaciones exitosas, <br>optimizando tiempo y recursos para
                alcanzar
                <br> metas comerciales.
            </p>
        </div>
    </div>
    <div class="bloque5">
        <div class="bloque5In">
            <h4>Valores</h4>
            <p>Nos caracterizamos por tener estos pilares como agencia. </p>
        </div>
        <div class="bloque5En">
            <li>
                <p class="imgnum">1</p>Innovación
            </li>
            <li>
                <p class="imgnum1">2</p>Excelencia
            </li>
            <li>
                <p class="imgnum">3</p>Colaboración
            </li>
            <li>
                <p class="imgnum1">4</p>Responsabilidad
            </li>
            <li>
                <p class="imgnum">5</p>Valentía
            </li>

        </div>
    </div>
    <div class="bloque4">
        <h4>Trabajemos Juntos</h4>
        <p>Hacemos realidad tus ideas con estrategias digitales inteligentes y IA</p>
        <button>Conversemos </button>
    </div>
    <app-panel-footer class="footer"></app-panel-footer>

</main>