main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("/background-desktop.jpg");
    background-size: cover;
    background-position: center;
}
.servicios{
    width: 100%;
    margin-top: 550px;
}
 .footer {
    width: 100%;
    margin-top: 250vh;
}
